body{
    text-align:center;
    background-image:url("https://media.istockphoto.com/photos/sponge-painted-wall-picture-id184965317");
}
p{
    color:whitesmoke;
}
canvas{
    border-width:5px;
    border-color:black;
}