body{
    text-align:center;
    background-image:url("https://media.istockphoto.com/photos/sponge-painted-wall-picture-id184965317");
}
p{
    color:whitesmoke;
}
canvas{
  border-width: thick;  
  border-color: black;
  border-style: dotted;
  margin-top:100px;
}